<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techie Bloggy</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="notes"></span>
        <a href="/">Techie Bloggy</a>
      </h1>
      <h4>
        <span>A blog site to talk about tech</span>
      </h4>
      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blogs</a>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
<main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
  {{{ body }}}
    <div class="card">
      {{#each allBlogs}}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">{{title}}</h3>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{content}}</li>
                <li>Post by {{username}} on {{format_date date_created}}</li>
                <li>Comments:</li>
              <ul>
                {{#each Comments}}
                  <li>{{username}} - {{date_created}}</li>
                {{/each}}
              </ul>
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    </div>  
</main>
    <footer>
      
    </footer>
</div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
