<div class="row">
        <div class="col-md-12">
          <h4>Add New Post:</h4>
          <form class="add-blog-form" method="POST" action="">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" id="content" rows="3" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

  {{#if allBlogs}}
  <div class="col-md-6 blog-list">
    <h3>Comment Blog:</h3>

    {{#each allBlogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blogs/{{blog.id}}">{{blog.title}}</a></h4>
        <p>{{blog.content}}</p>
        <p>Created by {{name}} on {{format_date date_created}}</p>
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div> --}}
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>

{{!-- <div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p> --}}
  {{!-- <p>Created by {{username}} on {{format_date date_created}}</p> --}}
  {{!-- <p>
    <span for="img" aria-label="notes"></span>
    <span class="blog-format">{{format_blog}}</span>
    
  </p>
</div> --}}
<div class="comments-section">
  <h3>Comments</h3>
  {{#if comments}}
    <ul class="comments-list">
      {{#each comments}}
        <li>
          <p>{{comment_text}}</p>
          <p>Comment by {{username}} on {{format_date date_created}}</p>
        </li>
      {{/each}}
    </ul>
  {{else}}
    
  {{/if}}
  {{#if logged_in}}
    <form id="comment-form">
      <div class="form-group">
        <label for="comment-text">Leave a comment:</label>
        <textarea class="form-control" rows="3" id="comment-text" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {{/if}}
</div>